@charset "UTF-8";

@font-face {
  font-family: "vtex-app";
  src:url("icons/vtex-app.eot");
  src:url("icons/vtex-app.eot?#iefix") format("embedded-opentype"),
    url("icons/vtex-app.woff") format("woff"),
    url("icons/vtex-app.ttf") format("truetype"),
    url("icons/vtex-app.svg#vtex-app") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "vtex-app" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "vtex-app" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\61";
}
.icon-down-arrow:before {
  content: "\62";
}
.icon-shop:before {
  content: "\63";
}
